buildId: {{buildId}}
name: {{name}}
description: {{description}}
agent:
  type: {{type}}
  version: {{version}}
persona: {{persona}}
modules:
{{modules}}
memory: {}
tools: {}
workflows: {}
deployment: {}
testing: {}
